In [10]:


from sklearn import metrics
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

import warnings
from sklearn.exceptions import ConvergenceWarning, UndefinedMetricWarning

In [11]:
warnings.filterwarnings("ignore", category=ConvergenceWarning)
warnings.filterwarnings("ignore", category=UndefinedMetricWarning)

In [12]:
df=pd.read_csv('C:/Users/saibh/Downloads/glass.csv')

In [13]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Type', axis=1), df['Type'], test_size=0.3, random_state=42)

# Create a Linear SVM model and fit it to the training data
svm = LinearSVC(random_state=42)
svm.fit(X_train, y_train)

# Evaluate the model on the test data
score = svm.score(X_test, y_test)
y_pred = svm.predict(X_test)
report = classification_report(y_test, y_pred)

print(f"Accuracy score: ", score)
print(f"Classification report:\n", report)

Accuracy score:  0.6
Classification report:
               precision    recall  f1-score   support

           1       0.67      0.42      0.52        19
           2       0.50      0.87      0.63        23
           3       0.00      0.00      0.00         4
           5       1.00      0.17      0.29         6
           6       0.00      0.00      0.00         3
           7       0.83      1.00      0.91        10

    accuracy                           0.60        65
   macro avg       0.50      0.41      0.39        65
weighted avg       0.59      0.60      0.54        65